*{
    font-family: Arial, Helvetica, sans-serif;
}

.bg-myRed{
    background: midnightblue;
    border-bottom:0.2rem solid #ff8c00;
    color:#fff;
    padding: 0.5rem 2rem;
}
body{
    background: #b5fac7;
}
.content{
    padding: 5rem 2rem;
    font-size: 1.5srem;
}


.Link{
    color: #fff;
    font-size: 5rem;
}

.Hom{
    padding-top: 5rem;
}
#img{
    width:50px;
    height:50px;
    border-radius:100%;
}

footer{
    background:midnightblue;
    width:100%;
    height:300px;

}
.card-body{
    background:midnightblue;
    border: none;
}