body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*header{
  background:dodgerblue;
 color: cornsilk;
 height:60px;
 padding: 0rem 2rem;
}
header ul{
  list-style-type:none;
  display: flex;
  text-align: center;
  line-height: 3;
  justify-content:space-between;
  width: 30%;
  border: 2px solid red;
  padding-right: 2rem;
}
header ul li{
  list-style-type:none;
  display: flex;
  text-align: center;
  justify-content:space-around;
  float:right;
}
header ul li a{
  list-style-type:none;
  display: flex;
  text-decoration: none;
  font-size: large;
  justify-content:space-around;
  float:rit;
  padding-right: rem;
}
h1{
  color:midnightblue;
}*/

.formApp{
  text-align:center;
  text-align: center;
}

input{
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 4px;
}
