*{
    margin: 0;
    padding: 0;
}

body{
    background: #b5fac7;
}

.nav-links{
    color: #316685;
    text-align: center;
}

.pages{
    text-align: center;
    color: #316685;
    font-size: 1.5rem;
    margin-top: 5%;
}

.navbar{
    background: #1d3044;
    height: 60px;
    z-index: 20;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    display: flex;
}

.nav-container{
    display: flex;
    height: 60px;
    justify-content: center;
    width: 100%;
    max-width: 1500px;
}

.nav-logo{
    color: #e82921;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    flex-grow: 1;
    font-size: 2rem;

}

.nav-menu{
    text-align: center;
    display: flex;
    list-style: none;
    margin-right: 2rem;
}

.Nav-link{
    padding: 0.5rem 1rem;
    color: rgb(235, 223, 223);
    height: 100%;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.Nav-link:hover{
    width: 100%;
    color: #ff8800
}

.nav-item{
    line-height: 40px;
    margin-left: 1rem;
}

.nav-item:after{
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after{
    width: 100%;
    background: #ffdd40;
}


.nav-item:active{
    color: #ffdd40;
    border: 1px solid #ffdd40;
}

.nav-icon{
    display: none;
    color: #fff;
    font-size: 1.8rem;
}

@media screen and (max-width:768px) {
    .nav-menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        border-top: 1px solid red;
        width: 100%;
        top: 60px;
        left: -100%;
        opacity: 1;
    
    
    }
    .nav-menu.active{
        background: #1d3044;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-item.active{
        border: none;
        color: #ffdd40;
    }
    .Nav-link{
        padding: 0.5rem;
        width: 100%;
        display: table;
    }

    .nav-icon{
        display: block;
        margin-left: 80%;
        position: absolute;
        top: 2;
        right: 10;
        cursor: pointer;
        transform: translate(-100%);
    }
}