.navbar{
    background: #1d3044;
    height: 10vh;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
}

.navbar__logo a{
    align-items: center;
    float: left;
    color: #fff;
    
    width: 9rem;
    text-decoration: none;
}

.nav__items{
    width: 65vw;
    display: flex;
    justify-content: flex-end;
    float: right;
    line-height: 2;
}
.nav__items li{
    list-style-type: none;
}
.links{
    list-style-type: none;
    margin-left: 2rem;
    text-decoration: none;
    color: #fff;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    transition: 3s all ease-out;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
}

.links:hover{
    list-style-type: none;
    background: #fff;
    color: #1d3044;
}
.button{
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: o.3s all ease-out;
    border-radius: 5px;
    border: none;
    padding: 6px 16px;
    font-size: 1.3rem;
    color: whitesmoke;
    height: 2rem;
    width: 3rem;

}
button span{
    color: black;
    color: whitesmoke;
}
.sidebar-toggle{
    width: 40px;
    height: 7vh;
    display: flex;
    justify-content: flex-end;
}
.sidebar-toggle-logo{
    font-size:2.3rem;
    color:#fff;
    width: 5rem;
}

.sidebar{
    width: 16rem;
    height: 90vh;
    background: #1d3044;
    display: flex;
    position: absolute;
    left: -100%;
    transition: 0.3s all ease-in-out;
    top: 10vh;
}

.sidebar.active{
    left: 0;
}

.sidebar__items{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    
}

.sidebar__items li{
    list-style-type: none;
    margin: 1rem;
    width: 100%;
    height:1rem;
}

.link{
    text-decoration: none;
    color: #fff;
    list-style-type: none;
    font-size: 1.3rem;
    display: flex;   
    border-radius:5px;
    cursor: pointer;
    transition: 0.2s all ease-out;
}

.link:hover{
    color: #1d3044;
    background: #fff;
   
}